<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="淘宝众筹为您准备了《》众筹项目，参与《》项目众筹给您不一样的惊喜收货！每天淘宝众筹一下，收货多多! ">
    <title>发起项目</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="startPro">
        <div class="wrap">
            <h1>发起项目</h1>
            <div class="proModule">
                <form action="" method="post" name="proInfo" enctype="multipart/form-data">
                    <div class="moduleItem">
                        <h2>项目信息</h2>
                        <dl>
                            <dt>项目类型：</dt>
                            <dd>
                                <input type="radio" class="proType"  name="proType" value="影音" >影音
                                <input type="radio" class="proType"  name="proType" value="公益" >公益
                                <input type="radio" class="proType"  name="proType" value="书籍" >书籍
                                <input type="radio" class="proType"  name="proType" value="娱乐" >娱乐
                                <input type="radio" class="proType"  name="proType" value="科技" >科技
                                <input type="radio" class="proType"  name="proType" value="设计" >设计
                                <input type="radio" class="proType"  name="proType" value="动漫" >动漫
                                <input type="radio" class="proType"  name="proType" value="游戏" >游戏
                                <input type="radio" class="proType"  name="proType" value="农业" >农业
                                <span id="errTag"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>项目名称：</dt>
                            <dd>
                                <input id="proName" maxlength="20" name="proName" value="" type="text"  placeholder="不多于20个字" class="desInput">
                                <span id="errProName"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>项目简介：</dt>
                            <dd>
                                <input placeholder="请用一句话概括项目内容" id="proTitle" name="proTitle" value="" type="text" class="desInput">
                                <span id="errProTitle"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>筹资金额：</dt>
                            <dd>
                                <input id="goalMoney" name="goalMoney" value="" type="text" placeholder="不少于1000元" class="desInput"> 元
                            </dd>
                        </dl>
                        <dl>
                            <dt>筹资天数：</dt>
                            <dd>
                                <input id="during" name="during" value="" type="text" placeholder="10~60 天" class="desInput"> 天
                            </dd>
                        </dl>
                        <dl>
                            <dt>项目图片：</dt>
                            <dd>
                                <span class="upOuter">
                                    <span>上传项目图片</span>
                                    <input  type="file" name="upImg">
                                </span>
                                <em>支持jpg、jpeg、png、gif格式，大小不超过2M。建议尺寸：650 X 420px</em>
                            </dd>
                        </dl>
                        <dl>
                            <dt>项目说明：</dt>
                            <dd>
                                <em class="gray">项目简介是会显示在淘宝众筹首页的~</em>
                                <textarea id="proDescribe" name="proDescribe" placeholder="最多不超过200个字" class="textA490"></textarea>
                            </dd>
                        </dl>
                        <h2>回报设置</h2>
                        <dl>
                            <input type="checkbox"  value="10元">10元
                            <dt>回报描述：</dt>
                            <dd>
                                <textarea id="payBack1" class="payBack" name="payBack1"></textarea>
                            </dd>
                        </dl>
                        <dl>
                            <input type="checkbox"  value="100元">100元
                            <dt>回报描述：</dt>
                            <dd>
                                <textarea id="payBack2" class="payBack" name="payBack2"></textarea>
                            </dd>
                        </dl>
                        <dl>
                            <input type="checkbox"  value="200元">200元
                            <dt>回报描述：</dt>
                            <dd>
                                <textarea id="payBack3" class="payBack" name="payBack3"></textarea>
                            </dd>
                        </dl>
                        <button type="submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="successPro">
            <img src="/images/successPro.png">
            <span>成功发起项目 :)</span>
            <a href="so" data-hover="返回首页"><span >返回首页</span></a>
        </div>

        <script src="/javascripts/jquery-2.1.3.js"></script>

        <script>
            function checkForm(){
                var cc=true;
                $("#errTag").html("");
                var selected=0;
                var choosetags=$(".proType").checked();

                if(choosetags==''){
                    $("#err_tagid").html("请勾选标签.");
                    cc= false;
                }
                $("#errProName").html('');
                if($("#proName").val()==''){
                    $("#errProName").html('请填写项目名称.');
                    cc= false;
                }

                $("#errProTitle").html('');
                if($("#projectAdWord").val()==''){
                    $("#err_projectAdWord").html('请填写一句话说明.');
                    cc= false;
                }
                if($("#projectAdWord").val().length>150){
                    $("#err_projectAdWord").html('一句话说明最多不能超出150个字.');
                    cc= false;
                }
                $("#err_amount").html('');
                if($("#amount").val()==''){
                    $("#err_amount").html('请填写募集金额.');
                    cc= false;
                }
                if(!(/^(([1-9]\d*)|\d)?$/).test($("#amount").val())){
                    $("#err_amount").html("请输入元为单位的正整数 .");
                    cc= false;
                }
                if($("#amount").val()<1000){
                    $("#err_amount").html('募集金额小于最低金额.');
                    cc= false;
                }
                if($("#amount").val()>100000000){
                    $("#err_amount").html('募集金额超出最大金额.');
                    cc= false;
                }

                $("#err_collectDays").html("");
                if($("#collectDays").val()==''){
                    $("#err_collectDays").html("您还未输入募集天数.");
                    cc= false;
                }
                if(!(/^(([1-9]\d*)|\d)?$/).test($("#collectDays").val())){
                    $("#err_collectDays").html('请输入正确的募集天数.');
                    cc= false;
                }
                if($("#collectDays").val()<10){
                    $("#err_collectDays").html('募集天数至少10天.');
                    cc= false;
                }
                if($("#collectDays").val()>60){
                    $("#err_collectDays").html('募集天数不能超出60天.');
                    cc= false;
                }
                $("#err_projectImage").html('');
                if($("#projectImage").val()==''){
                    $("#err_projectImage").html('请上传项目图片.');
                    cc= false;
                }

                $("#err_projectSummary").html('');
                if($("#projectSummary").val()==''){
                    $("#err_projectSummary").html('请输入项目简介.');
                    cc= false;
                }
                if($("#projectSummary").val().length>200){
                    $("#err_projectSummary").html("项目简介不能超出200字.");
                    cc= false;
                }
                $("#err_projectDetails").html('');
                if(CKEDITOR.instances.projectDetails.getData()==''){
                    $("#err_projectDetails").html('项目详情.');
                    cc= false;
                }
                return cc;
            }
        </script>
        <script>
            $("button").click(function(){
                $(".wrap").css("display","none");
                $(".successPro").css("display","block");
            });

        </script>
    </div>
</body>
</html>